@import '@/styles/main.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  @include typography(h7);
  margin-bottom: 0.5rem;
}

.input {
  @include typography(h7);
  background-color: transparent;
  padding: 0.3rem 0.4rem;
  outline: none;
  border: 1px solid $border-color;
  border-radius: 0.2rem;
}