@import '@/styles/main.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.description {
  @include pageWidth;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  // max-width: $max-width;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
